services:
  master:
    image: redis:8
    ports:
      - "6379:6379"
  slave1:
    image: redis:8
    command: redis-server --slaveof master 6379

  slave2:
    image: redis:8
    command: redis-server --slaveof master 6379
  
  slave3:
    image: redis:8
    command: redis-server --slaveof master 6379