services:
  master:
    image: redis:7
    ports:
      - "6379:6379"
  slave:
    image: redis:7
    command: redis-server --slaveof master 6379

  slave1:
    image: redis:7
    command: redis-server --slaveof master 6379
  
  slave2:
    image: redis:7
    command: redis-server --slaveof master 6379