services:
  master:
    image: redis:8
  slave:
    image: redis:8
    command: redis-server --slaveof master 6379
  sentinel:
    build: sentinel
    environment:
      - SENTINEL_DOWN_AFTER=5000
      - SENTINEL_FAILOVER=5000